.cbp-mc-form {
    position: relative;
}


/* Clearfix hack by Nicolas Gallagher: 
http://nicolasgallagher.com/micro-clearfix-hack/ */

.cbp-mc-form:before,
.cbp-mc-form:after {
    content: " ";
    display: table;
}

.cbp-mc-form:after {
    clear: both;
}

.cbp-mc-column select {
    color: black;
    background-color: #def;
}

.cbp-mc-column select option {
    color: black;
}

.cbp-mc-column {
    color: black;
    width: 25%;
    padding: 5px ;
    float: left;
}




.cbp-mc-form select:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #10689a;
    font-style: italic;
    color: black;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

@media screen and (max-width: 70em) {
    .cbp-mc-column {
        width: 50%;
    }
    .cbp-mc-column:nth-child(3) {
        width: 100%;
    }
}

@media screen and (max-width: 48em) {
    .cbp-mc-column {
        width: 100%;
        padding: 10px;
    }
}

.cbp-mc-column input {
    color: black;
    border-radius: 5px;
    background-color: #def;
}